

<footer class="mt-6">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
   
        <hr class="border-gray-200 sm:mx-auto dark:border-gray-700 my-8" />
        <span class="block text-sm text-gray-500 text-center dark:text-gray-400">© 2023 <a href={`/`} class="hover:underline">Bloque génesis</a>. All Rights Reserved.</span>
    </div>
</footer>

